{% extends 'base.html.twig' %}
{% block main %}
{{ form(authorFormView) }}
    {% if message is not null %}
        {{ message }}
        <a href="{{path('admin_authors')}}">Retour auteurs</a>
    {% endif %}
{% endblock %}