{% extends 'base.html.twig' %}
{% block main %}
{{ form_start(authorFormView) }}
    {% if message is not null %}
        <div class="messageok">
            <p>{{ message }}</p>
            <br>
            <a href="{{path('admin_authors')}}">Retour auteurs</a>
        </div>
    {% endif %}
    {{ form_end(authorFormView) }}
{% endblock %}