/*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      ALL                         -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h2{
    color: #0b0b0b;
    font-size: 30px;
}
.green{
    color: #38da1d;
}
.red{
    color: #e85c38;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    padding: 0 10px;
    color: #f1f2f3;
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
input[type="submit"]{
    cursor:pointer;
    padding:3px 15px;
    background: #f1f2f3;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

 /*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      HEADER                      -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

header{
    background: url("https://p0.storage.canalblog.com/02/93/1080399/83385214_o.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_titre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 20vh;
    color: black;
}
#titre{
    padding: 0 20px;
}
#mainmenu{
    height: 50px;
    width: 50px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #203163;
}
.navbar a{
    color: black;
    font-size: 20px;
    transition: all 200ms ease-in;
}
.navbar a:hover{
    color: white;
    transition: all 200ms ease-in;
}
header h2{
    transform: scale(1);
    transition: all 200ms ease-in;
    color: white;
}
header h2:hover{
    transform: scale(1.2);
    transition: all 200ms ease-in;
    color: white;
}

/*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      MAIN BOOK                   -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

main{
    background: url("https://cdn.pixabay.com/photo/2016/09/10/12/40/grass-1659054_960_720.jpg") 0 fixed ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
.mainbook{
    background-image: url("https://i.pinimg.com/originals/46/91/27/469127ec4e81b9c90fc76de8630d7819.png");
    background-size: cover;
    color: #ffffff;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    text-align: center;
    color: #f1f2f3;
    transition: all 200ms ease-in;
    transform: scale(1);
}
.mainbook:hover{
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.categoriebook{
    text-align: center;
    margin-left: 40px;
    color: #f1f2f3;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.dispobook{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.titrebook h2{
    color: #c49935;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    margin-left: 33px;
}
.bystyle {
    text-align: center;
}
.formtop{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #274d8c;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formnewbook{
    padding: 60px;
}
.newbook{
    padding: 10px 20px;
    background-color: lightgrey;
    justify-self: flex-end;
    border-radius: 20px;
    color: black;
}

/*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      MAIN AUTHOR                 -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

.mainauthor{
    background: url("https://images-na.ssl-images-amazon.com/images/I/61baaccDQxL._SL1200_.jpg");
    background-size: cover;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    text-align: center;
    color: #f1f2f3;
    transition: all 200ms ease-in;
    transform: scale(1);
}
.mainauthor:hover{
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
/*.mainauthor:nth-of-type(odd){*/
/*    background-color: red;*/
/*}*/

.seemoreinfo{
    margin: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 2px 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.6);
}
.seemoreupdate{
    margin: 5px;
    background-color: orange;
    border-radius: 20px;
    padding: 2px 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.6);
}
.seemoresupp{
    margin: 5px;
    background-color: red;
    border-radius: 20px;
    padding: 2px 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.6);
}
.author h2{
    color: #274d8c;
    text-shadow:#274d8c 1px 0 10px;
}
.detailauthor{
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    color: #f1f2f3;
}
.messageok{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    color: #f1f2f3;
    font-size: 40px;
}
.messageok a{
    color: white;
}
.messageok a:hover{
    color: black;
}
/*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      MAIN INDEX                  -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

.mainindex{
    height: 50vh;
    width: 80%;
    color: white;
    font-size: 100px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
/*.mainindex{*/
/*    transform: translateX(+50%);*/
/*    animation: spin 8s linear alternate infinite;*/
/*}*/
/*@keyframes spin {*/
/*    to{*/
/*        transform: translateX(-50%);*/
/*    }*/
/*}*/
.indexbutton{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
.new{
    padding: 10px 20px;
    background-color: lightgrey;
    border-radius: 20px;
    color: black;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

/*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      MAIN ERROR                  -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

.mainerror{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh;
}
.mainerror p{
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;

}
.backButton {
    background-color: #f1f2f3;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}
a.backButton{
    color: black;
}


/*
 ----------------------------------------------------------------------------------------------------------------------
 ---------------------------------                      FOOTER                      -----------------------------------
 ----------------------------------------------------------------------------------------------------------------------
 */

footer{
    background-color: #203163;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: white;
    transition: all 200ms ease-in;

}
footer a:hover{
    color: black;
    transition: all 200ms ease-in;
}
