{% extends 'base.html.twig' %}
{% block title %}Book{% endblock %}
{% block main %}
    {% for book in book %}
        <div class="mainbook">
            <div class="titrebook">
                <h2>{{ book.title }}</h2>
            </div>
            <br>
            <div class="categoriebook">
                <h3>Caractéristiques :</h3>
                <em>Nombre de pages : {{ book.nbpages }}pages.</em>
                <br>
                <em>Catégorie : {{ book.style }}.</em>
            </div>
            <br>
            <div class="dispobook">
                {% if book.InStock == true %}
                    <em><p>Statut : disponilble</p></em>
                {% elseif book.InStock == false %}
                    <em><p>Statut : indisponible</p></em>
                {% endif %}
            </div>
            <br>
            <input type="button" value="plus d'info" class="seemore">
        </div>
    {% endfor %}
{% endblock %}
