{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}
{% block main %}
    <main class="mainindex">
        <p>Welcome to the Library</p>
    </main>
    <div class="indexbutton">
        <a href="{{ path('admin_update_book') }}" class="new">Ajouter un livre</a>
        <a href="{{ path('admin_update_author') }}" class="new">Ajouter un auteur</a>
    </div>
{% endblock %}