{% extends 'base.html.twig' %}
{% block main %}
    {{ form(bookFormView) }}
    {% if message is not null %}
        <div class="messageok">
            <p>{{ message }}</p>
            <br>
            <a href="{{path('admin_books')}}">Retour livres</a>
        </div>
    {% endif %}
{% endblock %}